* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body { 
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

/* barre separation */

hr {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 38%, rgba(252,176,69,1) 100%);
    width: 60%;
    height: 3px;
    border: none;
}

/* navigation */

header {
    background-color: #9D9D9D;
    height: 4em;
    width: 100%;
    box-sizing: border-box;
}

label,
#bg-menu {
    display: none;
}

.navbar {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

.navbar a {
    color: #000000;
  }

.navlinks ul {
    display: flex;
    flex-direction: row;
  }

.navbar .navlinks ul li {
    margin: 0 20px; 
    font-weight: 400;     
}

.navbar .search {
    right:1em;
    position:absolute;
    top:1em;
    right:50px;
}

nav input {
    height: 2em;
    text-align:right;
    padding-left: 10px;
    border-radius: 20px;
    border:none;    
  }  

.menu-hamburger {
    display:none;
    margin:0.5em 1.5em;
    width: 70px;
    height:70px;
}

.navlinks a:hover {
    color:white;
}

/* footer */

footer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #9d9d9d;
    color: #d4d4d4;
}

/* logo */

.logo {
    display:flex;
    justify-content: center;
}
.logo img {
    width: 15em;
}

/* sections */

.entreprise,
.box-img,
.services-box,
.value-box,
.equipe-box {
    width: 60%;
    padding: 2rem;
}

/* section 1 */

.entreprise {
    text-align:justify;
    background-color: white;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entreprise-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* section images */

.box-img {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid #eaeaea;
}

.box-img img {
    width: 22%;
    object-fit: cover;
    border: 4px solid #ececec;
}

/* section 2 */

.services-box {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
    border: 1px solid #eaeaea;
}

.services {
    width:30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: auto;
}

.services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.services p, .quality p {
    font-size:12px;
    text-align:justify;
}

.services-box img {
    max-width: 25px;
    max-height:25px;
}

/* -------- PAGE entreprise --------- */

.logo2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo2 h1 {
    font-weight:900;
    text-transform: uppercase; 
    margin: 1em auto 0;
}

.logo2 img {
    max-width: 15%;
}

/* qualite */

.value-box {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem 2rem;
    flex-flow: row wrap;
    background-color: white;
    border: 1px solid #eaeaea;
}

.quality {
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.quality h5 {
    text-transform: uppercase;
}

.violet h5 {
    color: #8839AE ;
}

.red h5 {
    color: #F71F25 ;
}    

.orange h5 {
    color: #FD5C2E ;
}

.yellow h5 {
    color: #FCAB44 ;
}

/* equipe */ 

.equipe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem 2rem;
    flex-flow: row wrap;
    background-color: white;
    border: 1px solid #eaeaea;
}

.equipe-box img {
    width: 30%;
    height: 20rem;
    object-fit: cover;
    object-position: top;
    border: 4px solid #ececec;
}

.equipe-box img:hover {
    opacity: 1;
    border: 4px solid #ececec;
    outline: 4px solid #fbb111;
    filter:grayscale(0%)
}

/* -------- PAGE contact --------- */

.form {
    max-width: 110vh;
    padding:2em 2em;
    margin: 1em auto;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

fieldset {
    border:none;
}

select, input[type="submit"] {
    width:8em;
    height:2em;
    display: block;
    margin: 0 auto;
}

/* part 2 */

.part2 p {
    display: block;
    margin: 0.5em 0;
    padding-left:2.5em;
}

input[type="text"], textarea {
    width:90%;
    padding: 3px;
    display: block;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

textarea {
    resize:none;
    height:8em;
}

/* part 3 */

input[type="submit"] {
    margin-top:3em;
}

/* ----- page realisation------ */

.mosaic {
    max-width: 117vh;
    margin:1em auto;
    padding: 2em;
    columns: 4 120px;
    gap: 1em;
}

.box {
    background-color: #000000;
    display:inline-block;
    width: 100%;
    margin-bottom:1em;
    border: 3px solid #ececec;
    outline: 2px solid #ffffff;
} 

.boxsize1 {
    background-color: #fbb111;
    height: 8em;
}

.boxsize2 {
    background-color: green;
    height:12em;
}

.boxsize3 {
    background-color: blue;
    height:15em;
}  

.box img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

/* ____________responsive______________ */

    @media screen and (max-width:769px) {

    .search {
        display: none;
    }

    .menu-hamburger {
        display: block;
    }

    .navlinks {
        position:absolute;
        background-color: #9d9d9dc4;
        width:100%;
        height:100vh;
        top:4em;
        left:0;
        margin-left:-100%;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
        padding:0;
        width: 100%;
    }

    .navbar .navlinks ul li {
        margin: 10px 0 0 0; 
        padding:1em 10em;
        border: 1px solid #808080;
        background-color: #8d8d8d;
    }
    .navbar a {
        color: #ffffff;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;

    }

    .navlinks.mobile-menu {
        margin-left:0;
    }

    .navlinks li {
        display: flex;
        justify-content: center;
    }

    .entreprise, .box-img, .services-box, .value-box,
    .equipe-box {
    margin: 1em auto;
    padding: 2em;
    max-width: 110vh;
    }

}